body {
  background: linear-gradient(to right, #f4eee6, #f4eee6);
  margin: 0;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateX(20px);
  }

  25% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(20px);
  }
}

@keyframes greeting-ways {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateX(-100%);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }
}

.Greet {
  font-size: 75px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: relative;
  left: 40%;
  top: 190px;
  z-index: 2;
}

.English {
  animation: 0.7s greeting-ways ease-in-out 1;
  animation-fill-mode: forwards;
}

.Japanese {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  animation: 0.75s greeting-ways ease-in-out 1;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  font-size: 50px;
}

.Hindi {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  animation: 0.75s greeting-ways ease-in-out 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 50px;
}

.Spanish {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  animation: 0.75s greeting-ways ease-in-out 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  font-size: 50px;
}

.Chinese {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  animation: 0.75s greeting-ways ease-in-out 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  font-size: 50px;
}

.Russian {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  animation: 0.75s greeting-ways ease-in-out 1;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  font-size: 50px;
}
/* THIS IS WHERE THE GREETING OF ALL LANGUAGE ENDS */

.left-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #000000;
  animation: slide-left 0.5s forwards;
  animation-delay: 3.2s;
  z-index: 1;
}

.right-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #000000;
  animation: slide-right 0.5s forwards;
  animation-delay: 3.2s;
  z-index: 1;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 690px;
  left: 32%;
  width: 550px;
  height: 70px;
  background-color: #b9b2ac;
  border-radius: 100px;
}

.header a {
  position: relative;
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
  padding: 0 40px;
  z-index: 1;
}

.header span {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 100%;
  background: linear-gradient(45deg, #4f1919, #ff3333);
  border-radius: 100px;
  transition: left 0.1s;
}

.header a:nth-child(1):hover ~ span,
.header a:nth-child(1):focus ~ span {
  left: 0;
}

.header a:nth-child(2):hover ~ span,
.header a:nth-child(2):focus ~ span {
  left: 130px; /* Corrected with units */
}

.header a:nth-child(3):hover ~ span,
.header a:nth-child(3):focus ~ span {
  left: 265px; /* Increment based on width */
}

.header a:nth-child(4):hover ~ span,
.header a:nth-child(4):focus ~ span {
  left: 415px; /* Increment based on width */
}
